@keyframes div{
    from{background-color: red;}
    to{background-color: yellow;}
}

div{
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: div;
    animation-duration: 4s;
}