#p1{background-color: rgba(255, 0, 0, 0.3);}
#p2{background-color: rgba(0, 255, 0, 0.3);}
#p3{background-color: rgba(0, 0, 255, 0.3);}
#p4{background-color: rgba(192, 192, 192, 0.3);}
#p5{background-color: rgba(255, 255, 0, 0.3);}
#p6{background-color: rgba(255, 0, 255, 0.3);}