.d100{
    width: 100%;
    height: 100%;
    background-color: grey;
    position: relative;
    overflow: none;
}

div{
    width: 400px;
    height: 400px;
    position: fixed;
    background-color: lightgray;
}
